$mainText: #572EE5;
$secondaryText: #000000;
$placeholderText: #6B7989;
$icons: #CDD6E0;
$hoverText: #FFFFFF;
$lineTop: #572EE5;
$border: #9CAFC3;
$otherText: #50E3C2;
$fondo2:#F3F5F8;
$fondo3: #37383C;
$fondo4: #222326;

$bg: #37383C;
$bg-t:  #222326;
$bg-th: #FFFFFF;
$bg-f: RGBA(0,0,0,0.93);
$bg-ic: #CDD6E0;
$bg-logo: #5ED7C6;
$text: #FFFFFF;
$text-t: #50E3C2;
$text-th: #9CAFC3;
$text-f: #37383C;
$border: #FFFFFF;
$border-t: #000000;
$border-th: #9CAFC3;